@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

header {
    background: #0F74BC;
    height: 75px;
}

/* Headings and logo */

.badge {
    width: 75px;
    height: 75px;
    float: left;
    padding-left: 5px;
}

h1, h2 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #0F74BC;
}

#logo {
    float: left;
    font-size: 300%;
    color: #fff;
    margin-left: 5px;
}

.sponsor {
    height: 75px;
    width: 75px;
    float: right;
}

h3 {
    font-family: Roboto, sans-serif;
    float: right;
    color: #fff;
    margin-right: 5px;
}

/* Navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    text-align: center;
}

#menu, #logo, h3 {
    line-height: 75px;
}

#menu li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: #fff;
}

#menu a:hover {
    border-bottom: 1px solid #fff;
}

.active {
    border-bottom: 1px solid #fff;
}

/* Main image */

#main-image {
    height: 700px;
    width: 100%;
    background: url(../images/main-image.jfif) no-repeat center center;
    overflow: hidden;
}