@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

header {
    background: #0F74BC;
    height: 75px;
}

/* Headings and logo */

.badge {
    width: 75px;
    height: 75px;
    float: left;
    padding-left: 5px;
}

h1, h2 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #0F74BC;
}

#logo {
    float: left;
    font-size: 300%;
    color: #fff;
    margin-left: 5px;
}

.sponsor {
    height: 75px;
    width: 75px;
    float: right;
}

#koop {
    font-family: Roboto, sans-serif;
    float: right;
    color: #fff;
    margin-right: 5px;
}

/* Navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    text-align: center;
}

#menu, #logo, #koop {
    line-height: 75px;
}

#menu li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: #fff;
}

#menu a:hover {
    border-bottom: 1px solid #fff;
}

.active {
    border-bottom: 1px solid #fff;
}

/* Main image and cover text*/

#main-image {
    height: 700px;
    width: 100%;
    background: url(../images/main-image.jfif) no-repeat center center;
    overflow: hidden;
}

#cover-text, #cover-text h2 {
    color: #fff;
    font-size: 200%;
}

#cover-text {
    font-size: 100%;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 50px;

    width: 300px;
    height: 250px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgb(81, 100, 160, .7);

    top: 300px;
    left: 100px;

    position: absolute;
}

/* Club bio */

#club-bio {
    height: 500px;
}

#column-left {
    width: 45%;
    float: left;
    margin-left: 20px;
    padding: 20px 0 ;
}

#column-right {
    width: 50%;
    float: right;
}

hr {
    border-top: 1px solid #0F74BC;
    width: 100%;
    margin: 5px 0;
}

.column-left-heading {
    width: 70%;
    line-height: 20px;
    padding-bottom: 25px;
    margin: 0 auto;
}

#sub-title {
    text-align: center;
    margin: 20px 0;
    font-size: 300%;
}

.image-right {
    width: 90%;
    height: 450px;
}

/*.image-right {
    height: 450px;
    width: 100%;
    background: url(../images/right-image1.jpg) no-repeat center center;
    overflow: hidden;
} */

/* Club location */

#sub-title {
    margin-top: 50px;
    text-align: center;
}

.location {
    text-align: center;
    margin-bottom: 10px;
}

#map {
    margin-left: 10px;
}

/* footer */

footer {
    height: 75px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 1%;
    color: #0F74BC;
}

/* Fixtures */

#fixtures {
    background-image: url(../images/fixtures.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#fixtures div {
    color: #fff;
    background-color: rgba(0, 0, 0, .4);
    width: 20%;
    height: 300px;
    float: left;
    padding-top: 40px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
}

#fixtures div h2 {
    color: #fff;
    border-bottom: 1px solid #fff;
    margin-bottom: 10px;
}

#fix-title {
    text-align: center;
    margin: 20px 0;
    font-size: 300%;
}

/* League standings */

#table-title {
    text-align: center;
    margin: 40px 0 20px 0;
    font-size: 300%;
}

table {
    width: 100%;
    border: 1px solid #3a3a3a;
}

td {
    text-align: center;
    padding: 5px 0;
}

#title-row {
    background: #0F74BC;
    margin: 5px;
    color: #fff;
    font-size: 120%;
    letter-spacing: 2px;
}

/* Team */

#team-title {
    text-align: center;
    margin: 40px 0 20px 0;
    font-size: 300%;
}

.team-background {
    height: 250px;
    width: 250px;
    float: left;
    margin: 20px 20px 30px 20px;
    background-color: #0F74BC;
}

.team-background img {
    transition: 2s;
    width: 100%;
}

#pos-title {
    margin: 20px 0 0 20px;
}

#goalkeeper {
    column-count: 1;
    text-align: center;
    color: #0F74BC;
    font-size: 150%;
}

.team-background:hover img {
    transform: scale(1.1);
}


